@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p> “Data heavy” isn’t a very scientific term, but this chapter is about running a class of application that isn’t just stateful but is also demanding about how it uses state. Databases are one example of this class. They need to run across multiple instances for high availability, each instance needs a local data store for fast access, and those independent data stores need to be kept in sync. The data has its own availability requirements, and you’ll need to run backups periodically to guard against terminal failure or corruption. Other data-intensive applications, like message queues and distributed caches, have similar requirements.</p>
