@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    8971188841/9663433778
</address>

<address>
    <strong>Support:</strong> <a href="mailto:rk.sachin@example.com">rk.sachin@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rk.sachin@hotmail.com">rk.sachin@hotmail.comm</a>
</address>
